@import url(style.css);

.product-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.product{
    display: flex;
    height: 40vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    border-top: 1px solid #887;
}
.product__img{
    width: 50%;
    height: 100%;
    padding: 2%;
}
.product__img img{
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: contain;
}
.product__description{
    width: 60%;
    padding: 5%;
}
.product__description h2{
    font-size: 3em;
    font-weight: bold;
}
.product__description h2::after{
    content: "";
    background-color: #51A3E1;
    display: block;
    width: 45px;
    height: 5px;
    margin-top: 10px;
}
.description{
    line-height: 20px;
    margin-top: 20px;
    width: auto;
}
.product-type{
    padding: 0 2%;
    margin-bottom: 1em;
}
.product__list{
    border-top: 1px solid #887;
    border-left: 1px solid #887;
    border-right: 1px solid #887;
    display: flex;
    justify-content: space-evenly;
    height: 240px;
    align-items: center;
}
.product__list:last-child{
    border-bottom: 1px solid #887;
}
.intro-img{ 
    min-width:  400px;
    min-height: 220px;
}

.intro-img img{
    min-width: 100%;
    max-height: 210px;
    object-fit: contain;
    transition: transform .5s;
    filter: drop-shadow(2px 2px 6px #0f0f0f);
}
.intro-img img:hover{
    transform: scale(1.05);
}
.article{
    display: grid;
    grid-template-columns: minmax(350px,450px);
    grid-template-rows: repeat(3, 4em);
    padding: 30px;
    align-items: center;
    
}
.article__header{
    justify-self: flex-start;
}
.article__title{
    font-size: 2em;
    text-shadow: 1px 1px 1px #887;
}
.intro-product{
    padding-bottom: 1em;
}
.intro-product p{
    line-height: 25px;
    width: 90%;
}
.article-consult{
    margin-left: 0;
}

@media screen and (max-width: 1100px){
    .intro-product{
        padding: 0;
    }
    .intro-product p{
        line-height: normal;
    }
    .article__title{
        font-size: 1.7em;
    }
}
@media  screen and (max-width:992px){
    .product__list{
        flex-direction: column;
        height: auto;
        border: 2px solid #0f0f0f !important;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .product-type{
        height: auto;
    }
    .intro-img{
        background:url(../banner/fondo_producto.jpg);
        backdrop-filter: blur(10px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 100%;
        padding: 15px 0;
        box-shadow: 0px 1px 4px #0f0f0f;
        background-origin: border-box;
    }
    .article{
        justify-items: center;
    }
    .article__header{
        justify-self: center;
    }
    .intro-product p{
        text-align: center;
        width: auto;
    }
}
@media screen and (max-width:870px){
    .product{
        flex-direction: column;
        height: fit-content;
        flex-wrap: wrap;
    }
    .product__description{
        width: 100%;
        padding: 2% 3%;
    }
    .product__img{
        width: 65%;
    }
    .description{
        height: auto;
    }
    .product-type{
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width:576px) {
    .product-type{
        width: 100%;
    }
    .article{
        grid-template-columns: auto;
        padding: 0;
    }
    .article__title{
        font-size: 1.3rem;
    }
}