<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embragues Independencia</title>
    <link rel="stylesheet" href="../Css/reset.css/reset.css">
    <link rel="shortcut icon" href="../banner/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../Css/productos.css">
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="nav__logo">
          <img src="../banner/logo.png" alt="Logo Engranajes" class="nav__img">
          <p>Embragues Independencia</p>
      </div>
      <ul class="nav__list">
        <li><a href="../index.html" class="nav__link">Inicio</a></li>
        <li><a href="./productos.html" class="nav__link">Productos</a></li>
        <li></i><a href="./contacto.html" class="nav__link">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <section class="product-container">
      <div class="product">
        <div class="product__img">
          <img src="../banner/productoEmbrague.png" alt="Embrague">
        </div>
        <div class="product__description">
          <h2>Embragues</h2>
          <p class="description">En embragues independencia realizamos la venta de todo tipo de embragues por encargo, ya sea
            autos, camionetas, camiones, maquinaria. También se realiza la reaparación de los mismos con garantía.
          </p>
        </div>
      </div>
      <div class="product-type">
        <ul >
          <li class="product__list">
            <div  class="intro-img">
              <img src="../banner/embrague.png" alt="Embrague">
            </div>
            <article class="article">
              <header class="article__header">
                <h2 class="article__title">Embragues Nuevos</h2>
              </header>
              <div class="intro-product">
                <p>
                  Tenemos un gran stock de embragues de todo tipo de vehiculos, camionetas y proximamente de maquinarias. Consulte stock y variedad.
                </p>
              </div>
              <a href="./contacto.html" class="article-consult"><button type="button" class="button button--products">Consultar</button></a>
            </article>
          </li>
          <li class="product__list">
            <div class="intro-img intro-img--despiece">
              <img src="../banner/despiece.png" alt="">
            </div>
            <article class="article">
              <header class="article__header">
                <h2 class="article__title">Reparación de embragues</h2>
              </header>
              <div class="intro-product">
                <p>
                  Realizamos el recambio de embragues de camiones, autos camionetas, maquinarias agropecuarias
                </p>
              </div>
              <a href="./contacto.html" class="article-consult"><button type="button" class="button button--products">Consultar</button></a>
            </article>
          </li>
          <!-- <li class="product__list">
            <div class="intro-img"></div>
            <article class="article">
              <header class="article__header">
                <h2 class="article__title"></h2>
              </header>
              <div class="intro-product">
                <p>
                  
                </p>
              </div>
              <a href="./contacto.html" class="article-consult"><button type="button" class="button button--products">Consultar</button></a>
            </article>
          </li> -->
        </ul>
      </div>
    </section>
    <div class="whatsapp-button">
      <a href="https://api.whatsapp.com/send?phone=2612147098" target="_blank" >
        <img src="../banner/whatsapp.png" alt="WhatsApp">
      </a>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer__contact">
        <div class="contact">
          <h3>Detalles de conntacto</h3>
          <div class="contact__information">
            <P><i class="fa-solid fa-phone"></i>Telefono: 0800-000-000</P>
            <p><i class="fa-solid fa-envelope"></i>Email: embraguesindependencia@hotmail.com</p>
          </div>
        </div>
      </div>
      <div class="footer__logo">
        <div class="logo">
          <img src="../banner/logo.png" alt="Logo Engranajes" class="nav__img">
          <p>Embragues Independencia</p>
        </div>
      </div>
      <div class="footer__social">
        <h3>Social</h3>
        <div class="social__link">
          <a href="" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100063697459863" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></i></a>
        </div>
      </div>
    </div>

    <div class="rights">
      <p>Independencia 2410,Las Heras, Mendoza</p>
      <p>&copy;Embragues Independencia. Todos los derechos reservados</p>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/341ef99b4c.js" crossorigin="anonymous"></script>
</body>
</html>