<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embragues Independencia</title>
    <link rel="stylesheet" href="../Css/reset.css/reset.css">
    <link rel="shortcut icon" href="../banner/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../Css/productos.css">
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="nav__logo">
          <img src="../banner/logo.png" alt="Logo Engranajes" class="nav__img">
          <p>Embragues Independencia</p>
      </div>
      <ul class="nav__list">
        <li><a href="./index.html" class="nav__link">Inicio</a></li>
        <li><a href="./productos.html" class="nav__link">Productos</a></li>
        <li></i><a href="./contacto.html" class="nav__link">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <section class="products">
    </section>
    <section class="products__container">

    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer__contact">
        <div class="contact">
          <h3>Detalles de conntacto</h3>
          <div class="contact__information">
            <P><i class="fa-solid fa-phone"></i>Telefono: 0800-000-000</P>
            <p><i class="fa-solid fa-envelope"></i>Email: embraguesindependencia@hotmail.com</p>
          </div>
        </div>
      </div>
      <div class="footer__logo">
        <div class="logo">
          <img src="../banner/logo.png" alt="Logo Engranajes" class="nav__img">
          <p>Embragues Independencia</p>
        </div>
      </div>
      <div class="footer__social">
        <h3>Social</h3>
        <div class="social__link">
          <a href="" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100063697459863" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></i></a>
        </div>
      </div>
    </div>

    <div class="rights">
      <p>Independencia 2410,Las Heras, Mendoza</p>
      <p>&copy;Embragues Independencia. Todos los derechos reservados</p>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/341ef99b4c.js" crossorigin="anonymous"></script>
</body>
</html>